{% extends 'base.html' %}
{% block content1 %}

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>Markat</h3>
                <hr/>
                <div class="list-group">
                    {% if markat %}
                        <a href="produkt" class="list-group-item
                        {% if not marka_emer %}
                            active
                        {% endif %}
                        ">Te gjitha</a>
                        {% for marka in markat %}
                            <a href="produkt?marka={{ marka.emer }}" class="list-group-item
                                {% if marka.emer == marka_emer %}
                                    active
                                {% endif %}
                            ">{{ marka.emer }}</a>
                        {% endfor %}
                    {% else %}
                        <h4>Nuk ka asnjë markë të regjistruar</h4>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-9">
                <h3>Produktet</h3>
                <hr/>
                {% if produkts %}
                    {% for produkt in produkts %}
                        <div class="media">
                            <div class="media-left">
                                <img src="{{ produkt.photo_main.url }}" class="media-object" style="width:180px">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{ produkt.serial }}</h4>
                                <ul class="list-group">
                                    <li class="list-group-item">{{ produkt.marka }}</li>
                                    <li class="list-group-item">{{ produkt.kategoria }}</li>
                                    <li class="list-group-item">{{ produkt.lenda_djegese }}</li>
                                </ul>
                            </div>
                        </div>
                        <br/><br/><br/><br/>
                    {% endfor %}
                {% else %}
                    <h4>Nuk ka prrodukte</h4>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
